body{background-color: #fff}
a{text-decoration: none !important}
.brand-logo hr{border-top:3px solid #ec5598;margin-top: -8px;}
.h4{background: #e4e1e1;padding: 0.5% 1%;color: #ec5598;border-radius: 10px 10px 0px 0px;}
/**loc**/
.loc li{display: inline}
.loc a{color: #a9a9a9;}
.loc .col-md-6{padding: 0%}
.loc a:hover{color: #ec5598 !important;}
.loc .home::before {content: none;}
.loc .brad::before {content: none;}
.loc{border-bottom:1px solid #ec5598 }
.loc li{border-bottom:3px solid #ec5598 }
.loc ul{padding: 0%;margin: 0%;margin-bottom: 2.5px;}
.loc li::before { content : "/" ; color : #ec5598 ; letter-spacing : .4px ;
  font-size:17px;vertical-align:top;margin-left:5px;padding-right:5px;font-weight:400!important;
}
/**loc**/

/*start header/menu*/

.topmenu{background: #e4e1e1;box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2);}
.topmenu img{width: 62%}
.topmenu .col-md-2,
.topmenu .col-md-5{text-align: center}
.topmenu p{margin: 0%}
.topmenu .container,
.topmenu .col-md-2,
.topmenu .col-md-3,
.topmenu .col-md-4{padding: 0%}
.topmenu .centerbox p{direction: ltr}
.topmenu .col-md-4{padding-right: 6%}
.topmenu a{color:gray}
.topmenu a:hover{color: #808080}
.topmenu p{color: gray}
.topmenu .leftbox,
.topmenu .col-md-4{padding-top:0.5%}
.topmenu li{display: inline; float: right}
.topmenu .rightbox .col-md-4{padding: 0% !important}
.topmenu .flaticon::before{margin-left: 10px}
@media (max-width:768px) {
  .topmenu .col-xs-12 .col-xs-4{width: 33.33%}
}
/*header*/

.header .top-nav{ background: #ffffff; direction: rtl;text-align: right;}
.header .m-3{margin: 0% !important}
.header .top-nav .search-box input:focus,.top-nav .search-box button:focus{ box-shadow: 0 0 0 0rem rgba(0,0,0,0);}
.header .top-nav .search-box input[type=text]{ border: 0px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;border-top: 1px solid #808080;border-bottom: 1px solid #808080;}
.header .top-nav .search-box .input-group-prepend::after{ content: '|'; color: #ccc; padding-top: 6px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;}
.header .input-group-prepend{margin-left: -3px}
.header .centermenu{padding:1% 0%;}
.header .left,
.header .col-md-5{padding-top: 2%}
.header .col-md-5 .btn-outline-secondary img{width: 75%}
.header .col-md-4 .dropdown .dropdown-toggle::after {content: none}
.header .left .col-md-4{padding: 0%;}
.header img{width: 100%}
.header .centermenu .right a{color: #000; text-decoration: none}
.header .centermenu .right a:hover{color: #fe9936}
.header .centermenu .right{background: #fff ;padding: 0.5%;border: 1px solid grey;height: 37px;border-radius: .25rem;}
.header .centermenu .left{text-align: left !important}
.header .left img{width: 20%}
.header .centermenu .col-md-3{text-align: center}
.header .dropdown:hover>.dropdown-menu {display: block;}
.header .dropdown>.dropdown-toggle:active { /*Without this, clicking will make it sticky*/ pointer-events: none;}
.header .centermenu .col-md-2{text-align: center;}
.header .btn:not(:disabled):not(.disabled){background:#fff;border-color: grey;color: gray;padding: 5%}
.header .btn:not(:disabled):not(.disabled):hover{background: #a9a9a9 !important;color: #000;}
.header .btn-outline-secondary{background: #808080 !important}
.header .btn-outline-secondary:hover{background:#fe9936 !important }
.header .py-2{border-color:#808080 !important ;height: 37px !important;background: #fff }
.header .dropdown-menu{top: 93%;right:76%;}
.header .shop .dropdown-menu .you{width: 100%;margin: 0;}
.header .shop .dropdown-menu .factor{width: 100%;margin: 0;}
.header .shop .dropdown-menu{right: 0%;min-width: 15.6rem !important;}
.header .shop .dropdown-menu img{width: 100%}
.header .shop .dropdown-menu .close img{width: 50%}
.header .shop .dropdown-menu .text{padding-right: 3% !important}
.header .shop .dropdown-menu .text p{margin: 2% !important}
.header .shop .dropdown-menu .padding{padding-top:8% !important;text-align: center}
.header .shop .dropdown-menu .img{padding-right: 3% !important}
.header .shop .dropdown-menu .col-md-3,
.header .shop .dropdown-menu .col-md-9{padding: 0%}
.header .shop .dropdown-menu button{padding: 1% !important;margin: 5%;font-size: 15px;}
.header .left .grey-1{width: 90% !important}
.header .shop .dropdown-menu .btn-circle {width: 30px;height: 30px;text-align: center;
  padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;
}
.header .shop .dropdown-menu .btn-circle.btn-lg {width: 50px;height: 50px;
  padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 25px;
}
.header .shop .dropdown-menu .btn-circle.btn-xl {width: 70px;height: 70px;
  padding: 10px 16px;font-size: 24px;line-height: 1.33;border-radius: 35px;
}
.header .top-nav .search-box .input-group-prepend button{width: 100% !important;background: #fff !important;
  border: 0px; background: #fff; border:1px solid #808080;border-left:1px solid gray ;-webkit-border-radius:0;
  -moz-border-radius:0;border-radius:0;border-top-right-radius: 5px;border-bottom-right-radius: 5px;
}
.header .top-nav .search-box .input-group-append button{width: 100% !important ;border: 1px solid gray; color: #ffffff;
  background: #fff !important; border-radius: 0;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
}
@media (max-width:768px){
  .topmenu .col-xs-6{width: 50%}
  .topmenu img{width: 25%}
  .topmenu a{font-size: 11px}
  .topmenu .col-md-4{padding-right: 0%}
  .header .centermenu .left{text-align: center !important}
  .header .input-group{margin-right: -5%;width: 110%}
}

/*menu*/

.megamenu .container{padding: 0%}
.megamenu .navbar{padding: 0%}
.megamenu .active{background-color: #f2f2f2;}
.megamenu .navbar-dark .navbar-nav .active a{color:#ec5598 !important}
.megamenu .navbar-dark .navbar-nav .active a:hover{color: #000 !important}
.megamenu .navbar-dark .navbar-nav .nav-link{color:#fff;}
.megamenu .navbar-dark .navbar-nav .nav-link:hover{color: #ec5598}
.megamenu .navbar .nav-item:hover{background-color: #f2f2f2}
.megamenu .navbar li a:hover{color: #fff}
.megamenu .navbar .dropdown-menu div[class*="col"] {margin-bottom:1rem;}
.megamenu .navbar .dropdown-menu {border:none;background-color:#a9a9a9 !important;}
.megamenu .dropdown-menu a{color: #000 !important}
.megamenu .dropdown-menu a:hover{color: #000 !important}
.megamenu .bg-primary{background-color:#ec5598 !important}
.megamenu {background-color: #fe9936}
.megamenu .navbar-dark .navbar-brand {color: #000;}
.megamenu .navbar li{margin: 0%;padding:.75rem .5rem !important}
.megamenu .text-white{color: #ec5598 !important; text-align: center}
.megamenu .text-uppercase{color: #000 !important}
.megamenu .text-uppercase img{width: 5%}
.megamenu .nav-link{padding: 0%}
.megamenu .dropdown-menu li{padding: 0% !important}
.megamenu .mega .nav-link{color: #ec5598 !important}
.megamenu .navbar .dropdown-menu{top: 42px !important;border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;border-top-left-radius: 0px;border-top-right-radius: 0px;
}
@media screen and (min-width: 992px) {
  .megamenu .navbar {padding-top:0px;padding-bottom:0px;}
  .megamenu .navbar .nav-item {padding:.5rem .5rem;}
  .megamenu .navbar .dropdown {position:static;}
  .megamenu .navbar .dropdown-menu {width:100%;left:0;right:0;top:45px;display:block;visibility: hidden;opacity: 0;transition: visibility 0s, opacity 0.3s linear;}
  .megamenu .navbar .dropdown:hover .dropdown-menu,
  .megamenu .navbar .dropdown .dropdown-menu:hover { display:block;visibility: visible;opacity: 1;transition: visibility 0s, opacity 0.3s linear;box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2);}
  .megamenu .navbar .dropdown-menu {border: 1px solid rgba(0,0,0,.15);background-color:#f2f2f2 !important;}
}

/*end header/menu*/

/*start slider*/

.slider-0 .carousel-indicators li{background-color: rgb(254, 153, 54); border-radius:10px;height: 5px; }
.slider-0 .carousel-indicators .active{background-color: #808080 !important;width: 5%}

/*end slider*/

/*start slider_2*/

.slider_2{margin-bottom: 45px;}
.slider_2 #myCarousel .carousel-item .mask {position: absolute;top: 0;left:0;height:100%;width: 100%;background-attachment: fixed;}
.slider_2 #myCarousel h4{font-size:50px;margin-bottom:15px;color:#FFF;line-height:100%;letter-spacing:0.5px;font-weight:600;}
.slider_2 #myCarousel p{font-size:18px;margin-bottom:15px;color:#d5d5d5;}
.slider_2 #myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
.slider_2 #myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }
.slider_2 #myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
.slider_2 #myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
.slider_2 #myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.slider_2 #myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
.slider_2 #myCarousel h4,
.slider_2 #myCarousel p,
.slider_2 #myCarousel a,
.slider_2 #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;animation-duration: 1.2s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.slider_2 #myCarousel .container {max-width: 1430px;  }
.slider_2 #myCarousel .carousel-item{height:100%; min-height:550px; }
.slider_2 #myCarousel{position:relative; z-index:1; background:linear-gradient(266deg,#4e60d3,#913baf 35%,#d52d88 68%,#f26d4f); background-size:cover; }
.slider_2 .carousel-control-next,
.slider_2 .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); }
.slider_2 .carousel-fade .carousel-item {opacity: 0;-webkit-transition-duration: .6s;transition-duration: .6s;-webkit-transition-property: opacity;transition-property: opacity}
.slider_2 .carousel-fade .carousel-item-next.carousel-item-left,
.slider_2 .carousel-fade .carousel-item-prev.carousel-item-right,
.slider_2 .carousel-fade .carousel-item.active {opacity: 1}
.slider_2 .carousel-fade .carousel-item-left.active,
.slider_2 .carousel-fade .carousel-item-right.active {opacity: 0}
.slider_2 .carousel-fade .carousel-item-left.active,
.slider_2 .carousel-fade .carousel-item-next,
.slider_2 .carousel-fade .carousel-item-prev,
.slider_2 .carousel-fade .carousel-item-prev.active,
.slider_2 .carousel-fade .carousel-item.active {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0)}
.slider_2 .carousel-fade .carousel-item-left.active,
.slider_2 .carousel-fade .carousel-item-next,
.slider_2 .carousel-fade .carousel-item-prev,
.slider_2 .carousel-fade .carousel-item-prev.active,
.slider_2 .carousel-fade .carousel-item.active {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.slider_2 .fadeInUp {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
.slider_2 .order-2{padding-right: 5%}
.slider_2 .slideInRight {-webkit-animation-name: slideInRight;animation-name: slideInRight;}
.slider_2 .fadeInLeft {-webkit-animation-name: fadeInLeft;animation-name: fadeInLeft;}
.carousel-item {position: relative;display: none;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  width: 100%;transition: -webkit-transform .6s ease;transition: transform .6s ease;transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-perspective: 1000px;perspective: 1000px;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@supports (transform-style:preserve-3d) {
  .slider_2 .carousel-fade .carousel-item-left.active,
  .slider_2 .carousel-fade .carousel-item-next,
  .slider_2 .carousel-fade .carousel-item-prev,
  .slider_2 .carousel-fade .carousel-item-prev.active,
  .slider_2 .carousel-fade .carousel-item.active {-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

/*end slider_2*/

/*start services*/

.services{margin-top: -45px;background: #f5f5f5; margin-bottom: 1%;box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2);}
.services .container{padding: 0% 30px}
.services .col-md-3{text-align: center}
.services .flaticon{font-size: 35px}
.services a{text-decoration: none;color: #ec5598}
.services a:hover{color: gray}

/*end services*/

/*start tabsproduct*/

.tabsproduct{margin-top: 1%}
.tabsproduct .sv-data-1{background:lightCyan;padding:0;}
.tabsproduct .sv-data-2{background:lightPink;height:40px;white-space:nowrap;}
.tabsproduct .sv-data-3{background:LightGoldenRodYellow;height:40px;white-space:nowrap;}
.tabsproduct .sv-data-4{background:LightSteelBlue;}
.tabsproduct table.sv-data-table{table-layout:fixed;}
.tabsproduct table.sv-data-table tbody tr{font-size:13px;padding:0;}
.tabsproduct table.sv-data-table tbody tr td{height:36px;}
.tabsproduct table.sv-data-table .td-data-item-1{padding:0;text-align:center;vertical-align:middle;}
.tabsproduct table.sv-data-table .td-data-item-2{padding:0;text-align:center;vertical-align:middle;whitespace:no-wrap;}
.tabsproduct table.sv-data-table .td-data-item-3{padding:0;text-align:center;vertical-align:middle;}
.tabsproduct table.sv-data-table .td-data-item-4{padding:0;text-align:right;vertical-align:middle;}
.tabsproduct table.sv-data-table input[type=number]{border:solid 1px #ccc;max-width:50px;}
.tabsproduct .edit-parameters{margin:3px;}
.tabsproduct .parameter-pg-col{background:lightBlue;margin:0;padding:0;}
.tabsproduct .hover .hls_sol li{height: 331px; padding: 0%}
.tabsproduct .hover .tabs a{padding: 0% !important;}
.tabsproduct .tabs{background-color:#f5f5f5;padding-top:30px;padding-bottom:30px;}
.tabsproduct .tabs h3{font-size:20px;margin-top:10px;margin-bottom:60px;}
.tabsproduct .tabs p{font-size:14px;}
.tabsproduct .tabs a{font-size:15px;font-weight:700;color:#fff;text-decoration: none;}
.tabsproduct .tabs li{background-color:darkgray;margin-top:1px;text-align:center;height:110px;width:100%;padding-top:45px;-webkit-border-radius:3px;border-radius:0px;}
.tabsproduct .tabs li.active{background-color:#ec5598;}
.tabsproduct .tabsbox{border:1px solid #ec5598;padding: 1% 0% 0%;background: #fff;}
.tabsproduct .container{padding: 0% 2%}
.tabsproduct li .active::after{content: ""; position: absolute;width: 0;height: 0; border-style: solid;
  border-color: transparent; left: -16px;top: 10px; border-right-color: inherit;border-width: 16px; color: #ec5598;
}
@media (max-width: 872px){
  .tabsproduct div.parameter-pg-col{min-width:100%!important;padding:0;}
  .tabsproduct .card{display:block;margin:10px auto!important;min-width:100%!important;}
}
@media (min-width: 872px){
  .tabsproduct .parameters-container{background:lightPink;margin:0 auto;max-width:840px;padding:10px;}
  .tabsproduct .card{width:195px;}
}

/*end tabsproduct*/

/*start category*/


.products .product .panel-tabs { position: relative; bottom: 30px; clear:both; border-bottom:2px solid #fe9936; padding-bottom: 1%;padding-top: 0%;}
.panel-title{float: left;}
.products .product .panel-tabs > li { float: left; margin-bottom: -1px; color: #000; padding-right: 5%}
.products .product .panel-tabs > li > a {margin-right: 2px; margin-top: 4px; line-height: .85; border: 1px solid transparent;border-radius: 4px 4px 0 0;color: #000;}
.products .product .panel-tabs > li > a:hover { border-color: transparent;color:#fe9936;background-color: transparent;}
.products .product .panel-tabs > li.active > a,
.products .product .panel-tabs > li.active > a:hover,
.products .product .panel-tabs > li.active > a:focus { color: #000; cursor: default; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: rgba(255,255,255, .23); border-bottom-color: transparent;}
.products .product .flaticon{font-size: 25px;}
.products .product .product-grid{height: 400px;;font-family:sans;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.products .product .product-grid .product-image{position:relative;transition:all .3s ease 0s}
.products .product .product-grid .product-image a{display:block}
.products .product .product-grid .product-image img{width:100%;height:auto}
.products .product .product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.products .product .product-grid:hover .pic-1{opacity:1}
.products .product .product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.products .product .product-grid:hover .pic-2{opacity:1}
.products .product .product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.products .product .product-grid:hover .social{opacity:1;top:50%}
.products .product .product-grid .social li{display:inline-block}
.products .product .product-grid .social li a{color: #ec5598;background-color: #f2f2f2;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.products .product .product-grid .social li a:hover{color:#fff;background-color: #ec5598;border-radius: 10px;}
.products .product .product-grid .social li a:after, 
.products .product .product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.products .product .product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.products .product .product-grid .social li a:hover:after,
.products .product .product-grid .social li a:hover:before{opacity:1}
.products .product .product-grid .product-discount-label,
.products .product .product-grid .product-new-label{color:#fff;background-color:#ec5598;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.products .product .product-grid .product-discount-label{background-color:#808080;left:auto;right:0}
.products .product .product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.products .product .product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.products .product .product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-30px;z-index:1;transition:all .3s}
.products .product .product-grid:hover .product-content{bottom:0}
.products .product .product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.products .product .product-grid .title a{color:#828282}
.products .product .product-grid .title a:hover,
.products .product .product-grid:hover .title a{color:#ec5598}
.products .product .product-grid .price{color:#333;font-size:17px;font-family:sans;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.products .product .product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.products .product .product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
.products .product hr{border-bottom: 2px solid gray}
.products .product h3{color:#fe9936 ;margin-top: 1%}
.products hr{border-top:3px solid #ec5598;margin-top: -8px;}
.products .mediasliderimage{ display: block; padding: 4px;margin-bottom: 20px;line-height: 1.42857143;background-color: #333;}
.products .overlay {position: absolute;top: 0;bottom: 0;left: 0; right: 0; height: 100%; width: 100%; opacity: 0;transition: .5s ease; background-color:#1BBD36;}
.products .eckcon:hover .overlay {opacity: 1;}
.products .text {color: white; font-size: 20px;position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);text-align: center;}
@media only screen and (max-width:990px){
  .product-grid{margin-bottom:30px}
}

/*end product*/

/*start img-box*/

.img-box img{width: 100%}

/*end img-box*/

/*start hover*/

.hover img {max-width: 100%;height: auto;}
.hover ul li {list-style: none}
.hover a, .hover a:hover {text-decoration: none;box-shadow: none;outline: none;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
.hover h1{ text-align:center; margin:30px 0; color:#fff;}
.hover .hls_sol li {width: 25%;max-width: 100%;display: inline-block;float: left;text-align: center;overflow: hidden;position: relative;}
.hover .hls_sol li img {height: 100%;}
.hover .hls_sol ul { padding: 0;display: flow-root;}
.hover .hls_sol li:hover img {-moz-transform: scale(1.1); -webkit-transform: scale(1.1); -ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);}
.hover .hls_sol li img { -webkit-transition: transform 0.5s ease;-o-transition: transform 0.5s ease;transition: transform 0.5s ease;}
.hover .hls_sol .hls_sol_data {position: absolute;left: 0;right: 0;bottom: 0;top: 0;transition: 0.3s ease-in-out;background: rgba(0,0,0,0.28);visibility: hidden}
.hover .hls_sol ul li:hover .hls_sol_data {background:rgba(236, 85, 152, 0.7);transition: 0.3s ease-in-out;visibility: visible}
.hover .hls_data { position: absolute;left: 0;right: 0;bottom: 0;padding: 60px 20px;}
.hover .hls_data a {display: block;}
.hover .hls_title {text-align: right;font-size: 22px;border-bottom:3px solid #f2f2f2;padding: 10px 0;margin: 10px 0;color: #fff;}
.hover .hls_title:hover {color: #fff;}
.hover .hls_sol_data h3 {color: #fff;transition: 0.5s}
.hover .hls_sol_data:hover h3 {transition: 0.5s ease;margin-top: 100px;}
.hover .btn-pro {border-radius: 0;color: #fff;display: inline-block !important;float: right;}
.hover .btn-pro:hover {color: #fff;}
.hover .sec_title {text-align: center;margin: 30px 0 30px;}
.hover .hls_data {left: unset;right: -310px;transition: 1s ease}
.hover .hls_sol_data:hover .hls_data {left: 0;right: 0;transition: 1s ease}
@media (max-width:768px){
  .hover .hls_sol li{width: 100%}
}

/*end hover*/

/*start card */

.card .carousel-caption li,
.card .carousel-caption h2,
.card .carousel-caption h3,
.card .carousel-caption h4,
.card .carousel-caption h5,
.card .carousel-caption p{text-align: right}
.card .carousel-inner{width: 89% !important}
.card {margin: 0 auto;border:0px;text-align: right;}
.card .Percentage-1{background: #ec5598;width: 100%;padding:10% 4% 8%;border-radius: 14px;border-top-right-radius: 0px;color: #fff !important;font-size: 14px}
.card .float-right img{width: 3%}
.card .float-right{text-align: left;margin-top: -62px;}
.card .carousel-caption h4{color: red}
.card .carousel-caption h5{text-decoration: line-through}
.card .container{border:2px solid #a9a9a9; border-radius:10px; width: 79%;border-top:0px;}
.card .text{background-image:url(../image/maxresdefault.jpg);padding: 13px 2%;width: 103%;margin: -16px;height: 60px;margin-top: -24px;color: #fff;border-top-left-radius: 10px;border-top-right-radius: 10px; }
.card .rounded-circle{border-radius:0px !important;width: 100%}
.card .btn-success{float: right;border-radius: 14px;border-top-right-radius: 0px;}
.card .Percentage{background: #ec5598;width: 100%;padding: 6% 5% 4%;border-radius: 14px;border-top-right-radius: 0px;color: #fff !important;font-size: 19px}
.card .carousel-item {height: auto;}
.card .carousel-caption {position: relative; padding: 0;right: 0;left: 0;color: #3d3d3d;}
.card .carousel-caption h3 {color: #3d3d3d;}
.card .carousel-caption p {line-height: 30px;}
.card .carousel-caption .col-sm-3 {display: flex;align-items: center;}
.card .carousel-caption .col-sm-9 {text-align: left;}
.card .navi a {text-decoration:none;}
.card a > .ico {background-color: grey;padding: 10px;}
.card a:hover > .ico {background-color: #666;}
.discount-2 .navi{margin-top: 0%;background: #e4e1e1;padding: 1% 0%;border-bottom: 3px solid #ec5598;border-radius: 10px 10px 0px 0px;}
.discount-2 .img img{width: 100%}
.parent_time {margin: 0px 5px;}
.child_time0{background : #e17faa;border-radius: 5px 0px 0px 5px;}
.child_time1{background : #ec5598;border-radius: 0px 5px 5px 0px;}
.child_time{float : left;color : #FFF;padding: 6px;margin : 0px;}
.discount-2 .timer{padding-right:3% }
.discount-2 .btn-success{color: gray;background-color: #fff;border-color: gray;width: 100%}
.discount-2 .btn-success:hover{background: #a9a9a9 !important;
  color: #000;transition: all .5s ease-in-out;}
@media (max-width:768px){
  .card .text{width: 112%;margin: -17px;margin-top: -9%}
  .card .container{width: 100%}
  .card .carousel-item{height: 800px;}
  .card .btn-success{float: left;margin-top: -57%}
}

/*end card */

/*start list-t-product*/

.list-t-product .category-wrap{border:1px solid #fe9936; }
.list-t-product .category-wrap .title{padding: 5% 0% 1%;background: #fe9936;box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2);}
.list-t-product .list p{margin-bottom: 0.5rem}
.list-t-product .list{padding: 5% 10% 2% 0%}
.list-t-product a{color: #000}
.list-t-product a:hover{color: #ec5598;transition: all .55s ease-in-out;}
.list-t-product .product-grid4,.product-grid4 .product-image4{position:relative}
.list-t-product .product-grid4{text-align:center;border-radius:0px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.list-t-product .product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.list-t-product .product-grid4 .product-image4 a{display:block}
.list-t-product .product-grid4 .product-image4 img{width:100%;height:auto}
.list-t-product .product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.list-t-product .product-grid4:hover .pic-1{opacity:0}
.list-t-product .product-grid4 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.list-t-product .product-grid4:hover .pic-2{opacity:1}
.list-t-product .product-grid4 .social{width:180px;padding:0;margin:0 auto;list-style:none;position:absolute;right:0;left:0;top:50%;transform:translateY(-50%);transition:all .3s ease 0s}
.list-t-product .product-grid4 .social li{display:inline-block;opacity:0;transition:all .7s}
.list-t-product .product-grid4 .social li:nth-child(1){transition-delay:.15s}
.list-t-product .product-grid4 .social li:nth-child(2){transition-delay:.3s}
.list-t-product .product-grid4 .social li:nth-child(3){transition-delay:.45s}
.list-t-product .product-grid4:hover .social li{opacity:1}
.list-t-product .product-grid4 .social li a{color:#222;background:#fff;font-size:17px;line-height:36px;width:40px;height:36px;border-radius:2px;margin:0 5px;display:block;transition:all .3s ease 0s}
.list-t-product .product-grid4 .social li a:hover{color:#fff;background:#ec5598}
.list-t-product .product-grid4 .social li a:after,.product-grid4 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:20px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.list-t-product .product-grid4 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.list-t-product .product-grid4 .social li a:hover:after,.product-grid4 .social li a:hover:before{opacity:1}
.list-t-product .product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color:#888585;font-size:13px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:10px;top:15px;transition:all .3s}
.list-t-product .product-grid4 .product-discount-label{left:auto;right:10px;background-color:#ec5598;direction: ltr}
.list-t-product .product-grid4:hover .product-new-label{opacity:0}
.list-t-product .product-grid4 .product-content{padding:2% 0% 0% 0%}
.list-t-product .product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.list-t-product .product-grid4 .title a{color:#222}
.list-t-product .product-grid4 .title a:hover{color:#16a085}
.list-t-product .product-grid4 .price{color: #ec5598;font-size: 15px;font-weight: bold;margin:0 2px 5px 0;display: block;}
.list-t-product .product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
.list-t-product .product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:4px 10px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s;margin-bottom: 5%}
.list-t-product .product-grid4:hover .add-to-cart{border:1px solid transparent;background:#fe9936;color:#fff}
.list-t-product .product-grid4 .add-to-cart:hover{background-color:#888585;box-shadow:0 0 10px rgba(0,0,0,.5)}
.list-t-product .spc-wrap .col-md-3{padding: 0% 0.1%;}
.list-t-product .fff{border: 1px solid #a9a9a9;padding: 1%}
.list-t-product .list-hs{width: 100%;margin: 0% !important}
.list-t-product .fff .col-md-2{padding-right: 0%}
.list-t-product .fff .col-md-2 .title{background: #ec5598;padding: 6% 0% 2%;color: #fff;width: 121%;margin-right: -12%;}
.list-t-product .cat_slider_title{margin-bottom: 10%}
.list-t-product .fff .col-md-10{border-right: 1px solid #ec5598;padding-right: 2.5%;}
.list-t-product hr{border-top:3px solid #ec5598;margin-top: -8px;}
.list-t-product .fff .col-md-2 .title::before{border-top: 8px solid #ad3f01;bottom: -8px;content: "";
  height: 0;position: absolute;width: 0;right: -20px;border-right: 8px solid transparent;top: 39px;
}
@media only screen and (max-width:990px){
  .list-t-product .product-grid4{margin-bottom:30px}
}

/*end list-t-product*/

/*start share*/

.share-footer{padding: 1% 0%;background: #4c58b6}
.share-footer .col-md-3{padding: 0%}
.share-footer .app img{height: 33px;width: -moz-max-content;}

/*end share*/

/*start footer*/

.footer{background-color: #6b219a}
.footer li{display: inline;}
.footer ul h4{color: #fe9936}
.footer ul a{color: #fff;text-decoration: none;}
.footer ul a:hover{color: #fe9936}
.footer .icon{padding: 0% 35%}
.footer .icon img{width: 100%; border-radius: 5px;}
.footer .icon img:hover{background: #fe9936}
.footer section a{color: #fff;text-decoration: none;}
.footer section a:hover{color: #fe9936}
.footer .topfooter img{border-radius:7px; width: 85%}
@media (max-width:768px){
  .footer .icon{padding: 0%}
  .footer .icon .col-md-2{width: 16%}
}

/*end footer*/

/*start contact-us*/

.contact-us .container .box:hover .icon {transform:scale(0);}
.contact-us .container .box .details { position:absolute; top:0;left:0;width:100%; height:100%; background:#fe9936;transition:0.5s;transform:scale(2);opacity:0;}
.contact-us .container .box:hover .details {transform:scale(1);opacity:1;}
.contact-us .container .box .details h3 {margin:0;padding:0;line-height:100px;font-size:10px;color:#fff;}
.contact-us .container .box .details:nth-child(2) .details {background:#e91e63;}
.contact-us .container .box .details:nth-child(2) .details {background:#607d8b;}
.contact-us .contact-info h4{color: #fff}
.contact-us .contact-form button:hover{background:#fe9936}
.contact-us .contact-form button:focus{box-shadow:none;}
.contact-us .open-iconic .flaticon{color: #fff;font-size: 50px; margin-right: 6%}
.contact-us .ltr{direction: ltr}
.contact-us .contact-info{margin-top:10%;}
.contact-us .contact-info img{margin-bottom: 15%;}
.contact-us .contact-info h2{ margin-bottom: 10%;color: #fff;}
.contact-us .container .box .icon .fa { font-size: 4em; line-height:100px; color: #0ff;}
.contact-us .open-iconic { width:100%; /* margin:250px auto 0; */ display:flex;}
.contact-us .contact-form label{font-weight:600;}
.contact-us .col-md-3{ background: #fe9936;padding: 4%;border-top-right-radius: 0.5rem;border-bottom-right-radius: 0.5rem; border: 1px solid #fe9936;}
.contact-us .col-md-9{ background: #fff; border-top-left-radius: 0.5rem;border-bottom-left-radius: 0.5rem; border: 1px solid #fe9936;padding: 2% 5% 2% 0%;}
.contact-us .contact-form button{ background: #808080;color: #fff; font-weight: 600; width: 25%; float: left;}
.contact-us .container .box { position:relative; width: 100%; height:100px; box-sizing:border-box;text-align:center; margin:0 10px; background:#00171d; overflow:hidden; border-radius:4px; /* box-shadow:0 0 0 2px rgba(0,7,10,1); */}
.contact-us .container .box .icon { width:100%; height:100%; background:gray; transition: 0.5s; padding-top: 5%;}

/*end contact-us*/

/*start product-list*/

.product-list .products{border: 1px solid #ec5598;padding: 1%;margin: -3%;}
.product-list .row li{display: inline}
.product-list .home::before {content: none !important;}
.product-list .products li::before {content: close-quote !important;}
.product-list .row a{color: #888585}
.product-list .row a:hover{color:#fe9936}
/*Panel tabs*/
.product-list .panel-primary .panel-tabs .menuicon img{width: 6.75%; border: 1px solid #000; padding: 1%; border-radius: 5px;}
.product-list .panel-primary .panel-tabs .gridicon img{width: 7.25%; border: 1px solid #000; padding: 1%;border-radius: 5px;}
.product-list .panel-primary .panel-tabs li img:hover{background: rgb(254, 153, 54)}
.product-list .panel-primary .panel-tabs .gridicon{margin-right: 10%; margin-top: -25.5px;}
.product-list .panel-tabs { position: relative; bottom: 40px; clear:both; border-bottom: 1px solid transparent;width: 50%}
.product-list .panel-tabs > li { float: left; margin-bottom: -1px; margin-right: 3%}
.product-list .panel-tabs > li > a { margin-right: 2px; margin-top: 4px; line-height: .85; border: 1px solid transparent; border-radius: 4px 4px 0 0; color: #888585 !important;}
.product-list .panel-tabs > li > a:hover { border-color: transparent;color: #888585 !important; background-color: transparent;}
.product-list .horizontal img{width: 100%;}
.product-list .horizontal{padding: 1% 3%;border: 1px solid #fe9936; margin: -3%;}
.product-list .horizontal .col-md-6,
.product-list .horizontal .col-md-3{padding: 1%}
.product-list .horizontal .row{border: 1px solid #e5e5e5}
.product-list .list-shop{border:1px solid #ec5598; padding: 2%;}
.product-list .col-md-3{padding: 0% 0% 0% 1%}
.product-list .products .col-md-3 { padding: 0% 2% 0% 2%;}
.product-list .list-shop h6{ background: darkgray; margin: -2.25%; padding: 3%;color: #fff;}
.product-list .card-body{padding:10px 10px;}
.product-list.card{width:500px;}
.product-list .panel-tabs > li.active > a,
.product-list .panel-tabs > li.active > a:hover,
.product-list .panel-tabs > li.active > a:focus { color: #fff; cursor: default; -webkit-border-radius: 2px;
  -moz-border-radius: 2px; border-radius: 2px; background-color: rgba(255,255,255, .23); border-bottom-color: transparent;
}
.product-list .list-shop h6::before { content : "" ; color : #fe9936 ; letter-spacing : .4px ;
  font-size:19px;vertical-align:top;margin-left:5px;padding-right:5px;font-weight:400!important;
}
.product-list .panel-primary .panel-heading{border-bottom: 3px solid #ec5598;
  margin: -2% -3%;
  padding: 1.70% 0% 0% 4%;
  height: 50px;
  background: #e4e1e1;
  border-radius: 10px 10px 0px 0px;
}
.product-list .card-header a::before { content : "" ; color : #fe9936 ; letter-spacing : .4px ;
  font-size:19px;vertical-align:top;margin-left:5px;padding-right:5px;font-weight:400!important;
}
.product-list .card-header,
.product-list .card-link,
.product-list .card-link:hover{background-color:#fff;text-align:right;color:hotpink;}
.product-list .searchbox .form-row .form-control{width: 100%}
.product-list .searchbox .form-row .bg-success img{margin-right:0%;width: 100%}
.product-list .searchbox .form-row .bg-success{background-color: #fff !important; border-color: #bfbfbf}
.product-list .searchbox .form-row .bg-success:hover{background-color: #888585 !important}
.product-list .searchbox{border:1px solid #ec5598; padding: 2%}
.product-list .searchbox h6 { background: darkgray; margin: -2.25%; padding: 3%; color: #fff;}
.product-list .star img{width: 5%;}
.product-list .Property img{width: 13%;}
.product-list .horizontal .left-box{border-right: 1px solid #888585}
.product-list .panel-heading .c-listing li{margin-right:10px}
.product-list .panel-heading .c-listing{float: left;}
.product-list .c-listing a{border: 1px solid #000; font-size: 10px; padding: 5px; border-radius: 5px;}
.product-list .c-listing a:hover,
.product-list .c-listing li .active:active{background: #a9a9a9;color: #000;transition: all 0.3s ease;}
.product-list .horizontal .horiz:hover{box-shadow: 0px 3px 14px 0px grey;}
[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}
.product-list .buttonbox .row{ padding: 10% 0% 19% 0%;height: 27px;background: ghostwhite;border-radius: 30px;}
.product-list .buttonbox{border:1px solid #ec5598;padding: 7% 3% 0%}
.product-list .buttonbox .checkbox.checbox-switch { padding-left: 0;}
.product-list .buttonbox .checkbox.checbox-switch label,
.product-list .buttonbox .checkbox-inline.checbox-switch {display: inline-block; position: relative; padding-left: 0;}
.product-list .buttonbox .checkbox .checbox-switch label input,
.product-list .buttonbox .checkbox-inline .checbox-switch input { display: none;}
.product-list .buttonbox .checkbox.checbox-switch label span,
.product-list .buttonbox .checkbox-inline.checbox-switch span { width: 35px; border-radius: 20px; height: 18px; border: 1px solid #dbdbdb;
  background-color: #ec5598; border-color: #ec5598; box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;display: inline-block; vertical-align: middle; margin-right: -7%; margin-top: -106%;
}
.product-list .buttonbox .checkbox.checbox-switch label span:before,
.product-list .buttonbox .checkbox-inline.checbox-switch span:before {display: inline-block;
  width: 16px;height: 16px;border-radius: 50%;background: rgb(255,255,255);content: " ";top: 0;
  position: relative;left: 0px;transition: all 0.3s ease;box-shadow: 0 1px 4px rgba(0,0,0,0.4);top:0px;
}
.product-list .buttonbox .checkbox.checbox-switch label > input:checked + span:before,
.product-list .buttonbox .checkbox-inline.checbox-switch > input:checked + span:before {left: -17px;top: 0px;}
.product-list .buttonbox .checkbox.checbox-switch.switch-primary label > input:checked + span,
.product-list .buttonbox .checkbox-inline.checbox-switch.switch-primary > input:checked + span { background-color: #808080; border-color: #808080;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;}
.product-list .buttonbox .checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.product-list .buttonbox .checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {background-color: red;border-color: red;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.product-list .discount img{width: 5%}  
@keyframes minus {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/*end product-list*/

/*start product-details*/

.product-details .product-list .card-header{background-color: #ec5598;border-radius: 5px;}
.product-details .row li{display: inline}
.product-details .home::before {content: none;}
.product-details .products li::before {content: close-quote !important;}
.product-details .row a{color: #a9a9a9;background: none}
.product-details .card-header a{color: #fff}
.product-details .card-header a:hover{color: #fff;background: #ec5598;}
.product-details img {max-width: 100%; }
.product-details .preview {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
  -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
}
.product-details .preview-pic {-webkit-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1; }
.product-details .preview-thumbnail.nav-tabs {border: none;margin-top: 15px; }
.product-details .preview-thumbnail.nav-tabs a{padding: 5%;border: 1px solid #fe9936; }
.product-details .preview-thumbnail.nav-tabs li {width: 18%;padding: 1% }
.product-details .preview-thumbnail.nav-tabs li img {max-width: 100%;display: block;height:80px;}
.product-details .preview-thumbnail.nav-tabs li a {padding: 0;margin: 0; }
.product-details .preview-thumbnail.nav-tabs li:last-of-type {margin-right: 0; }
.product-details .tab-content {overflow: hidden; }
.product-details .tab-content img {width: 100%;-webkit-animation-name: opacity;
  animation-name: opacity;-webkit-animation-duration: .3s;animation-duration: .3s;
}
.product-details .card {margin-top:0%;padding: 1%;line-height: 1.5em; border:1px solid #ec5598; border-radius: 7px;}
.product-details .details {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
  -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
}
.product-details .colors {-webkit-box-flex: 1;-webkit-flex-grow: 1; -ms-flex-positive: 1;flex-grow: 1; }
.product-details .product-title,
.product-details .price,
.product-details .sizes,
.product-details .colors {font-weight: bold; }
.product-details .checked,
.product-details .price span {color: #ff9f1a; }
.product-details .product-description,
.product-details .price,
.product-details .vote,
.product-details .sizes {margin-top: 1%;color: #888585;}
.product-details .product-title {margin-top: 0;line-height: 30px;position: relative;border-bottom: 1px solid #a9a9a9;color: #888585;}
.product-details .product-title span {font-size: small;color: #a9a9a9}
.product-details .size {margin-right: 10px; }
.product-details .size:first-of-type {margin-left: 40px; }
.product-details .color {display: inline-block;vertical-align: middle;margin-right:0.5%;height: 1em;width: 1em;border-radius: 2px; }
.product-details .add-to-cart,
.product-details .like { background: #fff;padding: 1.5%; border: 1px solid #808093;text-transform:UPPERCASE; font-weight: bold;color:#808093;transition:background .3s ease;}
.product-details .add-to-cart:hover,
.product-details .like:hover {background: #a9a9a9;color: #000; }
.product-details .not-available {text-align: center;line-height: 2em; }
.product-details .not-available:before {font-family: fontawesome;content: "";color: #fff; }
.product-details .black {background: #000;}
.product-details .green {background: #85ad00;}
.product-details .blue {background: #0076ad;}
.product-details .tooltip-inner {padding: 1.3em; }
.product-details .shoping-2 .col-md-3,
.product-details .shoping-2 .col-md-4{padding-top: 7%}
@-webkit-keyframes opacity {
  0% {
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
  100% {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }
}
@keyframes opacity {
  0% {
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
  100% {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }
}
@media (max-width:576px){
  .product-details .preview-thumbnail.nav-tabs li img{
  height:50px;
  }
  .product-details .preview-thumbnail.nav-tabs li{
  margin-right:1.5%;
  }
}
@media screen and (min-width: 997px) {
  .product-details .wrapper {display: -webkit-box;display: -webkit-flex; display: -ms-flexbox;display: flex; }
}
@media screen and (max-width: 996px) {
  .product-details .preview {margin-bottom: 20px; }
}
/*--thank you pop starts here--*/
.product-details .modal-header .close{margin: -1.5rem -1.25rem -1.75rem 40rem;color: #fe9936}
.product-details .modal-dialog {margin: 2% 25% !important;}
.product-details .modal-dialog .modal-content{width: 130%}
.product-details .share ul{padding: 1% 0% 0%;}
.product-details .share .add-to-cart{width: 23%}
.product-details .share .flaticon{font-size: 15.5px;margin: 20%;}
.product-details .share li::before {content:none;}
.product-details .thank-you-pop{width:100%;	padding:0% 1%;text-align:center;}
.product-details .thank-you-pop img{	width:100%;	height:auto;	margin:0 auto;	display:block;}
.product-details .thank-you-pop a i{margin-right:5px;color:#fff;}
.product-details #ignismyModal .modal-header{border:0px;}
.product-details .thank-you-pop h1{font-size: 42px; margin-bottom: 25px;color:#5C5C5C;}
.product-details .thank-you-pop p{font-size: 20px;  margin-bottom: 27px;	color:#5C5C5C;}
.product-details .thank-you-pop h3.cupon-pop span{	color:#03A9F4;}
.product-details .card .container{border: 0px}
.product-details .thank-you-pop h3.cupon-pop{font-size: 25px;margin-bottom: 40px;color:#222;	display:inline-block;
  text-align:center;padding:10px 20px;border:2px dashed #222;clear:both;font-weight:normal;
}
.product-details .thank-you-pop a{display: inline-block;margin: 0 auto;padding: 9px 20px;color: #fff;
  text-transform: uppercase;font-size: 14px; background-color: #8BC34A;border-radius: 17px;
}
/*--thank you pop end here--*/
.product-details .Warranty img{width: 13%}
.product-details .rating:not(:checked) > input {position:absolute; top:-9999px;clip:rect(0,0,0,0);}
.product-details .rating{padding-right: 1%}
.product-details .rating:not(:checked) > label:before {content: '★ ';}
.product-details .rating > input:checked ~ label {color: #d7ba92;}
.product-details .rating:not(:checked) > label:hover,
.product-details .rating:not(:checked) > label:hover ~ label {color: #d7ba92;}
.product-details .rating > input:checked + label:hover,
.product-details .rating > input:checked + label:hover ~ label,
.product-details .rating > input:checked ~ label:hover,
.product-details .rating > input:checked ~ label:hover ~ label,
.product-details .rating > label:hover ~ input:checked ~ label {color: #d7ba92;}
.product-details .rating > label:active {position:relative;top:2px;left:2px;}
.product-details .rating:not(:checked) > label {float: right;width: 1.25em;padding: 0 .1em !important;
  overflow: hidden;white-space: nowrap;cursor: pointer;font-size: 100%;line-height: 1.2;color: #ddd;
}

/*start tab-1*/ 

.product-details .tab-1 .nav-tabs .nav-link.active{color: #495057;background-color: #fff;border-color:#ec5598 #ec5598 #fff;}
.product-details .tab-1 .nav-tabs{border-bottom:1px solid #ec5598;}
.product-details .tab-1 .nav-tabs .nav-link:hover{background: #eee}
.product-details .tab-1 .nav-fill a{color: #888585}

/*start table*/

.product-details .tab-1 .table{
  background-color:#fff;
  /* box-shadow:0px 2px 2px #aaa; */
  margin-top:1%;
}
.product-details .tab-1 .table thead h4{margin-bottom: 0%}
.product-details .tab-1 .table tbody td{color: #a9a9a9}
.product-details .tab-1 #blah{width:100%;padding:3% 25%;}

/*comment*/
.product-details #nav-contact .card-inner{ margin-left: 4rem;}
.product-details #nav-contact .btn{margin-top: 1%;border-color:grey; }
.product-details #nav-contact .btn:hover{background: #a9a9a9 }
/*comment*/

/*end product-details*/

/*start checkout*/

.checkout .checkout-box .well{border: 1px solid #fe9936}
.checkout .checkout-box .text{padding:4% 6%}
.checkout .checkout-box .icon .flaticon{font-size: 1.25vw}
.checkout .checkout-box .check{font-size: 0.625rem;padding-right: 6%}
.checkout .checkout-box .check-k{font-size: 0.75rem; font-weight: 700;}
.checkout .checkout-box .icon .a{width: 100%;margin: auto}
.checkout .checkout-box .icon a:hover{background: #a9a9a9 !important;color: #000;transition: all 0.9s ease;}
.checkout .checkout-box .img img{width: 50%}
.checkout .checkout-box .img p{font-size: 9px}
.checkout .checkout-box .text-t{padding: 1% 2%}
.checkout .ch-ek .icon-n{padding: 0% 30%}
.checkout .ch-ek .icon-n img{width: 40%}
.checkout .pad-right{padding-right: 1% !important}
.checkout .ch-ek .hs{margin-top: 18%;text-align: center;}
.checkout .count-input {position: relative;width: 100%;max-width: 165px; margin: 10px 0;}
.checkout .count-input input:focus {outline: none;}
.checkout .count-input .incr-btn:first-child {right: auto;left: 0;top: 46%;}
.checkout .count-input .count-input-sm {max-width: 125px;}
.checkout .count-input .count-input-sm input {height: 36px;}
.checkout .count-input .count-input-lg {max-width: 200px;}
.checkout .count-input .count-input-lg input {height: 70px;border-radius: 3px;}
.checkout .checkout-box .col-md-3,
.checkout .checkout-box .col-md-9{padding:0% 0.5%}
.checkout .ch-ek .col-md-2,
.checkout .ch-ek .col-md-6,
.checkout .ch-ek .col-md-4{padding: 0%}
.checkout .ch-ek,
.checkout .ch-ek img{width: 100%;margin: auto;padding: 0% 1.5%}
.checkout .loc{width: 100%;margin: 0%;}
.checkout .form .margin{color: #fe9936;margin-right: 3%}
.checkout .form .margin:hover{color: #000;}
.checkout .form .sa{border: 1px solid #a9a9a9;font-size: 10px;padding: 1.5% 3%;border-radius: 5px;color: #000}
.checkout .form .sa:hover{background: #a9a9a9 !important;color: #000;transition: all 0.9s ease;}
.checkout .form form {padding:1% 0%;}
.checkout .form label { display: block; position: relative;margin: 40px 0px;}
.checkout .form input {width: 100%;padding: 10px;background: transparent;border: none;outline: none;}
.checkout .form .line-box {position: relative;width: 100%;height: 2px;background: #BCBCBC;}
.checkout .form .line {position: absolute;width: 0%;height: 2px;top: 0px;
  left: 50%;transform: translateX(-50%);background: #fe9936;transition: ease .6s;
}
.checkout .form input:focus + .line-box .line {width: 100%;}
.checkout .form .label-txt {position: absolute;top: -1.6em;padding: 10px;font-size: .8em;letter-spacing: 1px;color: rgb(120,120,120);transition: ease .3s;}
.checkout .form .label-active {top: -3em;}
.checkout .form button {display: inline-block;padding: 12px 24px;background: rgb(220,220,220);font-weight: bold;
  color: rgb(120,120,120);border: none;outline: none;border-radius: 3px;cursor: pointer;transition: ease .3s;
}
.checkout .form button:hover {background: #fe9936;color: #ffffff;}
.checkout .checkout-box .a a{width: 91%;margin: auto;border: 1px solid #a9a9a9;
  font-size: 15px;padding: 2%;border-radius: 5px;text-align: center;color: #000;margin-top: 5%;
}
.checkout .ch-ek .hs span{color: #999;font-size: 13px;font-weight: 400;text-decoration: line-through;margin-left: 3px;display: inline-block;}
.checkout .count-input input {width: 100%;height: 36.92307692px;border: 1px solid #000;border-radius: 2px;background: none;text-align: center;}
.checkout .count-input .incr-btn {display: block;position: absolute;width: 30px;height: 30px;font-size: 26px;
  font-weight: 300;text-align: center;line-height: 30px;top: 50%;right:0;margin-top:-15px;text-decoration:none;color:#fe9936;
}
.checkout .clgfocus{border: 0; padding: 7px 0; border-bottom: 1px solid #f00;}
.checkout .clgfocus ~ .focus-border{position: absolute; left: 50%; width: 0; height: 2px; background-color: #9c27b0; transition: 0.4s;}
.checkout .clgfocus:focus ~ .focus-border{width: 95%;transition: 0.4s;left: 0;right: 0;margin: 0 auto;}
.checkout .customselect {position: relative;}
.checkout .customselect select {display: none;}
.checkout .select-selected {background-color: transparent;}
.checkout .select-selected:after {position: absolute;content: "";
  right: -15px;width: 0;height: 0;border: 6px solid transparent;
  border-color: #fe9936 transparent transparent transparent;
}
.checkout .select-selected.select-arrow-active:after {border-color: transparent transparent #fe9936 transparent;}
.checkout .select-items div, .checkout .select-selected {color: #555555;padding: 6px 0px;border: 2.5px solid transparent;
  border-color:transparent transparent rgb(188, 188, 188) transparent;cursor: pointer;user-select: none;
}
.checkout .select-items {-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  position: absolute;background-color: #fff;top: 100%;left: 0;right: 0;z-index: 999;padding: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.checkout .select-hide {display: none;}
.checkout .select-items div:hover, .checkout .same-as-selected {background-color: #fe9936;color: #fff !important;padding: 6px 8px !important;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.checkout .form-m{padding: 0% !important;}

/*end checkout*/

/*footer*/
.footer-2{background: #313a84}
.footer-2 .icon{padding: 1% 35%}
.footer-2 .col_white_amrc { color:#FFF;}
.footer-2 .bottom_border p{color: #fff}
.footer-2 footer{ width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.footer-2 .pt2 { padding-top:40px ; margin-bottom:20px ;color: #e96fa5}
.footer-2 footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.footer-2 .mb10 { padding-bottom:15px ;}
.footer-2 .footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer-2 .footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer-2 .footer_ul_amrc li a{ color:#fff;}
.footer-2 .footer_ul_amrc li a:hover{ color:#ec5598; text-decoration:none;}
.footer-2 .fleft { float:left;}
.footer-2 .padding-right { padding-right:10px; }
.footer-2 .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer-2 .footer_ul2_amrc li p { display:table; }
.footer-2 .footer_ul2_amrc li a:hover { text-decoration:none;}
.footer-2 .footer_ul2_amrc li i { margin-top:5px;}
.footer-2 .bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.footer-2 .foote_bottom_ul_amrc li { display:inline;}
.footer-2 .foote_bottom_ul_amrc li a { color:#fff; margin:0 12px;}
.footer-2 .foote_bottom_ul_amrc li a:hover{color: #ec5598}
.footer-2 .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.footer-2 .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.footer-2 .social_footer_ul li a { color:#CCC; padding:8px;border-radius:50%;}
.footer-2 .social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.footer-2 img{width: 100%;border-radius: 5px;margin-bottom: 50%}
.footer-2 .icon img:hover{background: #ec5598}
.footer-2 .rahweb a{color: #ec5598}
.footer-2 .rahweb{color: #fff}
.footer-2 .rahweb a:hover{color: #fff}
.footer-2 .foote_bottom_ul_amrc {list-style-type:none;padding:0px;display:table;
  margin-top: 10px;margin-right: auto;margin-bottom: 10px;margin-left: auto;
}