    /*
    Flaticon icon font: Flaticon
    Creation date: 04/11/2018 09:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-credit-card:before { content: "\f101"; }
.flaticon-support:before { content: "\f102"; }
.flaticon-employee:before { content: "\f103"; }
.flaticon-telephone-auricular-with-cable:before { content: "\f104"; }
.flaticon-telephone-of-old-design:before { content: "\f105"; }
.flaticon-instagram-1:before { content: "\f106"; }
.flaticon-twitter-logo-silhouette:before { content: "\f107"; }
.flaticon-twitter-logo-button:before { content: "\f108"; }
.flaticon-twitter-logo-on-black-background:before { content: "\f109"; }
.flaticon-linkedin-sign:before { content: "\f10a"; }
.flaticon-facebook-1:before { content: "\f10b"; }
.flaticon-gmail-logo:before { content: "\f10c"; }
.flaticon-home:before { content: "\f10d"; }
.flaticon-delivery-truck:before { content: "\f10e"; }
.flaticon-reel:before { content: "\f10f"; }
.flaticon-music-player-play:before { content: "\f110"; }
.flaticon-like:before { content: "\f111"; }
.flaticon-menu:before { content: "\f112"; }
.flaticon-upload:before { content: "\f113"; }
.flaticon-payment-method:before { content: "\f114"; }
    
    $font-Flaticon-shopping-cart: "\f100";
    $font-Flaticon-credit-card: "\f101";
    $font-Flaticon-support: "\f102";
    $font-Flaticon-employee: "\f103";
    $font-Flaticon-telephone-auricular-with-cable: "\f104";
    $font-Flaticon-telephone-of-old-design: "\f105";
    $font-Flaticon-instagram-1: "\f106";
    $font-Flaticon-twitter-logo-silhouette: "\f107";
    $font-Flaticon-twitter-logo-button: "\f108";
    $font-Flaticon-twitter-logo-on-black-background: "\f109";
    $font-Flaticon-linkedin-sign: "\f10a";
    $font-Flaticon-facebook-1: "\f10b";
    $font-Flaticon-gmail-logo: "\f10c";
    $font-Flaticon-home: "\f10d";
    $font-Flaticon-delivery-truck: "\f10e";
    $font-Flaticon-reel: "\f10f";
    $font-Flaticon-music-player-play: "\f110";
    $font-Flaticon-like: "\f111";
    $font-Flaticon-menu: "\f112";
    $font-Flaticon-upload: "\f113";
    $font-Flaticon-payment-method: "\f114";